body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 24px;
  margin-top: 20px;
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px; 
}

.timer-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #0f881f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f0f0f0;
}
.timer-buttons {
  display: flex;
  gap: 10px;
}
.timer-buttons {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background-color: #f0f0f0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.timer-buttons button:hover {
  background-color: #0b5e12;
}


